#form.admin
  h2 Create User
  form( method: 'post', action: '/u/edit/' )
    div
      label( for: 'username') username
      input( type: 'text', name: 'user[name]', id: 'username' )
    div
      label( for: 'email') email
      input( type: 'text', name: 'user[email]', id: 'email' )
    div
      label( for: 'password')  password
      input( type: 'password', name: 'user[password]', id: 'password' )
    div.buttons
      input( type: 'submit', value: 'Create' )
  hr
  h2 All Users
  -if (users.length)
    table#user-list
      thead
        tr
          th Username
          th Email
          th Date Joined
          th Last Login
          th Role
          th Action
      tbody!= partial('admin/user-list-item', { collection: users, as: 'user' })