#form.admin
  h2 All Users
  p
    a#create-user('href':'/u/create/') Create User
  -if (users.length)
    table#user-list
      thead
        tr
          th Username
          th Email
          th Date Joined
          th Last Login
          th Role
          th Action
      tbody!= partial('admin/user-list-item', { collection: users, as: 'user' })