!!! 5
%html.no-js{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=utf-8", 'http-equiv': "content-type" }
    %meta{ content: "IE=8;chrome=1", 'http-equiv': "X-UA-Compatible" }
    %title= title
    %meta{ content: "index, follow", name: "robots" }
    %meta{ content: "", name: "description" }
    %meta{ content: "", name: "author" }
    / Icons
    %link{ href: "", rel: "shortcut icon" }
    %link{ href: "", rel: "apple-touch-icon" }
    / CSS
    %link{ href: "/css/base.css", rel: "stylesheet" }
    %link{ href: "/css/screen.css", rel: "stylesheet" }
    / JavaScript
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" }
    %script{ src: "/js/plugins." + (debugmode === true ? 'dev' : 'min') + ".js" }
    %script{ src: "/js/page." + (debugmode === true ? 'dev' : 'min') + ".js" }
  %body
    #wrapper
      #sidebar
        - if (isAuthd == true)
          #nav
            %ul
              %li
                %a{ href: '/l/all', class: ( currentpath == '/l/all' ? 'selected' : '' ) } All
              %li
                %a{ href: '/l/public', class: ( currentpath == '/l/public' ? 'selected' : '' ) } Public
              %li
                %a{ href: '/l/private', class: ( currentpath == '/l/private' ? 'selected' : '' )  } Private
              %li
                %a{ href: '/i/upload', class: ( currentpath == '/l/upload' ? 'selected' : '' )  } Upload
            %a{ href: '/u/logout', title: 'Logout' }.logout Logout
      #content!= body 