!!! 5
html.no-js( lang="en" )
  head
    meta( content="text/html, charset=utf-8", http-equiv="content-type" )
    meta( content="IE=8;chrome=1", http-equiv="X-UA-Compatible" )
    title= title
    meta( content="index, follow", name="robots" )
    meta( content="", name="description" )
    meta( content="", name="author" )
    link( href="", rel="shortcut icon" )
    link( href="", rel="apple-touch-icon" )
    link( href="/css/base.css", rel="stylesheet" )
    link( href="/css/screen.css", rel="stylesheet" )
    script( src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" )
    script( src="/js/plugins.dev.js" )
    script( src="/js/page.dev.js" )
  body
    -if (currentUser.isLoggedIn)
      div#nav
        ul
          li
            a('href':'/') Home
          li
            a('href':'/u/logout/') Logout            
          -if(currentUser.isAdmin)
            li.right
              a('href':'/a/') Admin
    div#wrapper!= body