/* @group scrollbar */

/* http://almaer.com/scrollbar/debug.html */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #fff;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

/* @end */


html {
    height: 100%;}

body {
    font-family: "Helvetica Neue", "Lucida Grande", "Arial";
    font-size: 13px;
    text-align: center;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
    -moz-text-stroke: 1px rgba(255, 255, 255, 0.1);
    color: #555;
    background: #1e1e1e url(/img/body-bg.gif) fixed 0 0 repeat-y;
    padding: 0;
    margin: 0;
    height: 100%;}

h1, h2 {
    font-size: 16px;
    font-weight: :bold;
    color: #e2e0bb;
    margin: 25px 35px 15px;
    text-transform: titlecase;}

h1 {
    text-shadow: 1px 2px 2px #ddd;
    font-size: 60px;}

p {
    color: #999;}

p a    {
    color: #0AAF86;}

p a:hover {
    color: #FF6;}

#wrapper {
    width: 100%;}
.img-active #wrapper {
	overflow: hidden; }
#viewer {
	position: fixed;
	top : 50%;
	left: 50%;
}
#sidebar {
	width: 30px;
	position: fixed;
	overflow: hidden;
	top: 50%;
	z-index: 2;
}
#sidebar:hover {
	width: 205px; }
	#nav {
		width: 200px;
	    background-color: #F2F2F2;
		padding:20px 0;
		border-top: 5px solid #1e1e1e;
		border-right: 5px solid #1e1e1e;
		border-bottom: 5px solid #1e1e1e;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		border-bottom-right-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		border-top-right-radius: 10px; }
		#nav ul {
		    list-style-type: none;
		    margin: 0px;
		    padding: 0px; }
			#nav ul li a {
			    display: block;
			    border-top: 1px solid #ccc;
			    color: #333;
			    font-weight: bold;
			    text-decoration: none;
			    cursor: pointer;
			    padding: 11px 0px 11px 0px;}
			#nav ul li:last-child a {
			    border-bottom: 1px solid #ccc; }

			#nav ul li a:hover {
			    text-decoration: underline;
			    background: #ffc;}

			#nav ul li a.selected {
			    color: #777;
			    background: #fff;
			    text-decoration: none;
			    font-weight: normal; }

#content {
    color: #ccc;
	margin-left: 60px;
	background:#000000 none repeat scroll 0 0; }
	a#close-viewer {
		position: fixed;
		top:50%; 
		display:block;
		width:30px;
		height: 60px;
		margin-top:-30px;
		margin-left:-30px;
		background: url('/img/closeviewer-bg.png') 0 0 no-repeat;
		text-indent:-9999px;}
	a#close-viewer:hover {
		background-position: 0 -60px;
		cursor: pointer; }
#images {
	width: 100%;
	float:left;
	background: #1e1e1e;
	padding-bottom: 50px; }
#images .image {
    display: block;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
	border: 5px solid #1e1e1e; }
.has-js #images .image {
 	position: absolute; }	

#images .image.selected {
	border-color: #2d87dd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px; }
#images .image.selected:hover {
	border-color: #2d87dd;
	background-color: #2d87dd; 
	padding-bottom: 0px;}	
	#images .image.selected:hover .wrapper a.nor {
		display:none; }
	#images .image.selected:hover .wrapper a.sel {
		display:block; }
	#images .image.selected:hover .wrapper a.drag {
		display:block; 
		background: rgba( 000, 000, 000, 0.7);
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
		border-radius: 3px;
	 	position: absolute;
		left:50%;
		top:50%;
		margin: -15px 0 0 -15px;
		padding:3px 3px 1px; }
		#images .image.selected:hover .footer {
			display: none; }
	
	#images .image.selected .wrapper {	
			-webkit-border-radius: 0px;
		    -moz-border-radius: 0px;
			border-radius: 0px; }
	
#images .image:hover {	
	border: 5px solid #fff;
	background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 30px;
	z-index: 1;
	height: auto;
	cursor: pointer;
	-moz-box-shadow: 0px 2px 4px rgba( 000, 000, 000, 0.5); /* FF3.5+ */
  	-webkit-box-shadow: 0px 2px 4px rgba( 000, 000, 000, 0.5); /* Saf3.0+, Chrome */
    box-shadow: 0px 2px 4px rgba( 000, 000, 000, 0.5); /* Opera 10.5, IE 9.0 */ }
#images .image:hover .footer {
	display: block; }
	#images .image .footer {
		display: none; 
		padding: 8px 10px;
		position:absolute; }
		#images .image .footer span {
			padding-left: 20px;
			font-size: 10px;
			font-weight: bold;
			background: url('/img/eye-bg.png') 0 center no-repeat; 
			color:#000;}
	#images .image .wrapper  {		
		position:relative;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
		border-radius: 5px; }
		#images .image .wrapper a {
			display:none;
			background: rgba( 000, 000, 000, 0.7);
		    -webkit-border-radius: 3px;
		    -moz-border-radius: 3px;
			border-radius: 3px;
		 	position: absolute;
			padding:3px 3px 1px; }
		#images .image .wrapper a:hover {
			background-color: rgba( 21, 255, 60, 0.7);}
	#images .image:hover .wrapper {
		-webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
		border-radius: 0px; }
		#images .image:hover .wrapper a.nor {
			display:block; }
		#images .image .wrapper a.delete {
			top: 5px;
			left: 5px;
			padding: 0px 3px 0px; }
		#images .image .wrapper a.delete:hover {
			background-color: rgba( 255, 000, 000, 0.7);}
		#images .image .wrapper a.zoom {
			bottom: 5px;
			right: 5px; }
		#images .image .wrapper a.link {
			bottom: 5px;
			right: 30px; }
	#images .image img.zoom {
		display:none;
		width: 34px;
		height: 34px;
		padding: 3px;
		position: absolute;
		left:50%;
		top:50%;
		margin: -20px 0 0 -20px;
		background: rgba(0,0,0,0.6);
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px; }
	#images .image a:hover img.zoom {
		display:block; }
	#images .image a.lock {
		position:absolute;
		bottom:0px;
		right:0px;
		background: rgba(0,0,0,0.8);
		padding:3px;
		-webkit-border-top-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		border-top-left-radius: 3px;}
	}	